@{
    var count = 0;
    if (ViewBag.Count != null)
    {
        count = ViewBag.Count;
    }
}

<style>
    .dropdown-item, .dropdown-menu {
        border: 1px solid black;
    }
</style>


<button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i>
    <span class="count bg-danger">@count</span>
</button>

<div class="dropdown-menu" aria-labelledby="notification">
    @if (count <= 0)
    {
        <p class="text-danger">No New Notification!</p>
    }
    else
    {
        <p class="red">You have @count Notification</p>
        <a class="dropdown-item media bg-flat-color-1" href="@Url.Action("ApproveRequisition", "HOD", new { id = 17 })">
            <i class="fa fa-check"></i>
            <p>Approved Requisition</p>
        </a>
        <a class="dropdown-item media bg-flat-color-5" href="@Url.Action("ApproveCollectionPoint", "Clerk", new { id = 50 })">
            <i class="fa fa-info"></i>
            <p>Approved CollectionPoint</p>
        </a>
    }
</div>





