
@{
    ViewBag.Title = "testingview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>testingview</h2>

<form asp-action="testingview" asp-controller="Reports" method="post">
    <h2>ItemUsageByClerk</h2>

    <input type="submit" value="Submit"/>
</form>