@model LUSSISADTeam10Web.Models.APIModels.RequisitionModel
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Title Here</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "HOD")">Dashboard</a></li>
                    <li class="active">Title Here</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-align-justify"></i>
                <strong class="card-title"> Title Here </strong>
            </div>
            <div class="card-body">
                <button onclick="test()">Click</button>
                <div class="row">
                    <div class="col-md-10">
                        <canvas id="myChart" class="m-auto p-3"></canvas>
                    </div>
                    <div class="col-md-6">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    <script type="text/javascript">
        var dataset = [[30, 70, 40], [40, 30, 50], [70, 20, 60]];

        var ctx = document.getElementById("myChart");
        var data = {
            labels: ["Chocolate", "Vanilla", "Strawberry"],
            datasets: [
                {
                    label: "Harpo",
                    backgroundColor: 'rgba(247, 55, 42, 0.45)',
                    borderColor: 'rgba(247, 55, 42, 1)',
                    borderWidth: 1,
                    data: dataset[0]
                },
                {
                    label: "Chico",
                    backgroundColor: 'rgba(58, 175, 169, 0.45)',
                    borderColor: 'rgba(58, 175, 169, 1)',
                    borderWidth: 1,
                    data: dataset[1]
                },
                {
                    label: "Groucho",
                    backgroundColor: 'rgba(77, 31, 132, 0.45)',
                    borderColor: 'rgba(77, 31, 132, 1)',
                    borderWidth: 1,
                    data: dataset[2]
                }
            ]
        };
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }]
                }
            }
        });
        function test() {
            dataset = [[20, 60, 30], [30, 20, 40], [60, 10, 50]];
            myBarChart.data.datasets[0].data = dataset[0];
            myBarChart.data.datasets[1].data = dataset[1];
            myBarChart.data.datasets[2].data = dataset[2];
            myBarChart.update();
        }
    </script>
}