
@{
    ViewBag.Title = "CreateSuppandItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <style>
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Create Supplier and Item </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li class="active"></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                   
                    <div class="card-body">
                        <div>  <h5 class="text-sm-center text-info"> <i class="fa fa-group fa-3x"></i><br /> Create Suppliers/Items </h5></div><br />
                        <div class="panel-group" id="accordion">

                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-caret-square-o-down" style="font-size:20px"></i>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Import Suppler Item</a>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="card">

                                                <div class="col-md-5">
                                                    @using (Html.BeginForm("csvsupplier", "Clerk", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                    {
                                                        <br />
                                                        @Html.Raw(ViewBag.Error)

                                                        <input type="file" name="excelfile" />
                                                        <br />
                                                        <br />
                                                        <input type="submit" value="Import" class="btn-outline-secondary" />
                                                        <br />
                                                        <br />

                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-group" id="accordionforsuppler">

                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-caret-square-o-down" style="font-size:20px"></i>
                                        <a class="accordion-toggle" a data-toggle="collapse" data-parent="#accordionforsuppler" href="#collapse2">Import Supplier</a>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="card">
                                                <div class="col-md-5">
                                                    @using (Html.BeginForm("importsupplier", "Clerk", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                    {

                                                        <br />
                                                        @Html.Raw(ViewBag.Error)

                                                        <input type="file" name="excelfile" />
                                                        <br />
                                                        <br />
                                                        <input type="submit" value="Import" class="btn-bs-file btn btn-lg btn-primary" />
                                                        <br />
                                                        <br />
                                                    }
                                                </div>
                                                <div />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    @section Scripts {

        <link rel="stylesheet" href="~/styles/css/btn.css">
        <script type="text/javascript">

            $('.panel-group').on('show.bs.collapse shown.bs.collapse hide.bs.collapse hidden.bs.collapse', function (e) {
                e.stopPropagation();
            });

        </script>

    }

